@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&family=Ubuntu&display=swap');

body {
    font-family: 'Roboto Slab', serif;
    font-family: 'Ubuntu', sans-serif;
    text-align: center;
    margin: 0;
}

.hidden, .hidden_form {
    display: none;
}

/* Navigation Bar Code */
nav {
    display: flex;
    justify-content: space-between;
    padding: 0 30px 0 10px;
    background-color:#EEA9A9;
}

nav > div {
    display: flex;
    gap: 20px;
    align-items: center;
}

nav > div p a {
    text-decoration: none;
    color: black;
    font-size: 22px;
    font-weight: bold;
}

section {
    width: 860px;
    height: auto;
    margin: 50px auto;
    border: 1px solid rgb(179, 179, 166);
    border-radius: 8px;
    padding: 10px;
    
}

.habit-list {
    border: 1px solid white;
    width: 80%;
}

.inner-habit {
    border: 1px solid #DBF2CD;
    background-color: #DBF2CD;
    border-radius: 8px;
    margin: 10px auto;
    
}

.inner-habit > section:nth-of-type(1) {
    display: flex;
    flex-direction: row;
    align-items: center;
}
.inner-habit > section > .name {
    width: 30%;
}

.inner-habit >  section > .name > h2 {
    word-wrap: break-word;
}


.inner-habit > section > .leftOver {
    width: 50%;
    margin-top: 10px;
}

.inner-habit > section > .buttons {
    width: 30%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 10px;
}

.inner-habit > section >  div > h2 {
    text-align: left;
    margin: 10px;
    width: auto;
}

.inner-habit > section > .buttons > form > input{
    margin: auto;
}

/* Progress Bar */
progress {
    margin-top: 10px;
    border-radius: 10px;
    width: 50%;
    height: 30px;
    background: orange;
}

progress::-moz-progress-bar {
background: lightcolor;
border-radius: 10px;
}

progress::-webkit-progress-value {
background: rgb(148, 216, 38);
border-radius: 10px;
}

progress::-webkit-progress-bar {
background: rgb(196, 196, 212);
border-radius: 10px;
}

form {
    display: flex;
    flex-direction: column; 
}

form > input {
    margin: 0 auto;
    margin-top: 5px;
    margin-bottom: 30px;
    padding: 6px;
    border-radius: 7px;
    width: 70%;
    border: 1px solid rgb(216, 216, 201);
}

form > input:last-child {
    width: auto;
    background-color: #37d368;
	text-align: center;
	padding: 10px 20px;
	border: none;
	border-radius: 5px;
}

.task > div > input {
    margin: 0 auto;
    margin-top: 5px;
    margin-bottom: 30px;
    padding: 6px;
    border-radius: 7px;
    width: 70%;
    border: 1px solid rgb(216, 216, 201);
}

.task-section {
    height: 100px;
    background-color: #F2E7E7;
    border: 1px solid #F2E7E7;
    border-radius: 15px;
    font-weight: bold;
    display: flex;
    justify-content: center;
}

.task-section > .task {
    flex-direction: row;
    text-align: left;
}

.task-section > .task > div {
    margin-top:auto;
    
}

.task-section > .task > div > input {
    width: 90%;
    margin-right: 100px;
    background-color: #F8AAAA;
    border: 1px solid #F8AAAA;
    height: 25px;
}

.task-section > .task > input[type='submit'] {
    background-color: #DBF2CD;
    border: 1px solid #DBF2CD;
    font-weight: bold;
    font-size: 17px;
    margin-top:auto;
    margin-left: 10px;
}

@media screen and (max-width: 1200px) {
    section {
        width: 90%;
    }
}

@media screen and (max-width: 1000px) {

    .inner-habit {
        width: 100%;
    }
}

 /* Footer Code */
 footer{
    background-color:#EEA9A9;
    padding-top: 25px;
    margin-top: 25px;
    padding-bottom: -10px;
    color: #ffffff;
 }
 
  .nav-link {
    color: #ffffff;
    text-decoration:none;
 }
 
  .footer-bottom-content {
    padding-top: 31px;
    padding-bottom: 31px;
    border-top: 1px solid rgba(240, 240, 240, 0.07);
    display: flex;
    justify-content: space-between;
    padding: 0.5rem 1rem;
  }
 
 .mb-0 {
   margin-bottom: 0 !important;
 }
 
 .fa {
    padding: 20px;
    font-size: 30px;
    width: 26px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
    border-radius: 50%;
  }
  
  .fa:hover {
      opacity: 0.7;
  }
  
  .fa-facebook {
    /*background: #3B5998;*/
    background: white;
    color: #EEA9A9;
  }
  
  .fa-twitter {
    /*background: #55ACEE;*/
    background: white;
    color: #EEA9A9;
  }
 
  .social-links {
    padding: 0.5rem 1rem;
    margin-left: 10px;
  }
 
  .authors {
    color: white;
    text-decoration:none;
    margin-left: 300px;
 }