@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&family=Ubuntu&display=swap');

body {
    font-family: 'Roboto Slab', serif;
    font-family: 'Ubuntu', sans-serif;
    text-align: center;
    margin: 0;
    background-color: #f5f5f5;
}

.hidden, .hidden_form {
    display: none;
}

/* Navigation Bar Code */
nav {
    display: flex;
    justify-content: space-between;
    padding: 0 30px 0 10px;
    background-color:#EEA9A9;
}

nav > div {
    display: flex;
    gap: 20px;
    align-items: center;
}

nav > div p a {
    text-decoration: none;
    color: black;
    font-size: 22px;
    font-weight: bold;
}

section {
    width: 860px;
    margin: 50px auto;
    border-radius: 8px;
    padding: 10px;
    
}

.habit-list {
    width: min-content;
}

.inner-habit {
    padding: 10px;
    border: 1px solid #c0b2b2;
    box-shadow: 0 4px 4px #cab2b2;
    border-radius: 8px;
    margin: 25px auto;
    height: min-content
    
}

hr {
    margin: -50px 0 30px 0;

    border: 1px solid #cab2b2;
}

.inner-habit > section:nth-of-type(1) {
    display: flex;
    flex-direction: row;
    align-items: center;
}
.inner-habit > section > .name {
    width: 30%;
}

.inner-habit >  section > .name > h2 {
    word-wrap: break-word;
}


.inner-habit > section > .leftOver {
    width: 50%;
    margin-top: 10px;
}

.inner-habit > section > .buttons {
    width: 30%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 10px;
}

.inner-habit > section > .buttons > .deletion > input {
    background-color: #ff5959;
}

.inner-habit > section > .buttons > .deletion > input:hover {
    background-color: #e65050;
}

.inner-habit > section >  div > h2 {
    text-align: left;
    margin: 10px;
    width: auto;
}

.inner-habit > section > .buttons > form > input{
    margin: auto;
}

/* Progress Bar */
progress {
    margin-top: 10px;
    border-radius: 10px;
    width: 50%;
    height: 30px;
    background: orange;
}

progress::-moz-progress-bar {
background: lightcolor;
border-radius: 10px;
}

progress::-webkit-progress-value {
background: rgb(148, 216, 38);
border-radius: 10px;
}

progress::-webkit-progress-bar {
background: rgb(196, 196, 212);
border-radius: 10px;
}

form {
    display: flex;
    flex-direction: column; 
}

form > input {
    margin: 0 auto;
    margin-top: 5px;
    margin-bottom: 30px;
    padding: 6px;
    border-radius: 7px;
    width: 70%;
    border: 1px solid rgb(216, 216, 201);
}

form > input:last-child {
    width: auto;
    background-color: #7bec86;
	text-align: center;
	padding: 10px 20px;
	border: none;
	border-radius: 5px;
}

form > input:last-child:hover {
    background-color: #69c772;
}

.task > div > input {
    margin: 0 auto;
    margin-top: 5px;
    margin-bottom: 30px;
    padding: 6px;
    border-radius: 7px;
    width: 70%;
    border: 1px solid rgb(216, 216, 201);
}

.task-section {
    height: 100px;
    background-color: #F2E7E7;
    border: 1px solid #F2E7E7;
    border-radius: 15px;
    font-weight: bold;
    display: flex;
    justify-content: center;
}

.task-section > .task {
    flex-direction: row;
    text-align: left;
}

.task-section > .task > div {
    margin-top:auto;
    
}

.task-section > .task > div > input {
    width: 90%;
    margin-right: 100px;
    background-color: #F8AAAA;
    border: 1px solid #F8AAAA;
    height: 25px;
}

.task-section > .task > input[type='submit'] {
    background-color: #DBF2CD;
    border: 1px solid #DBF2CD;
    font-weight: bold;
    font-size: 17px;
    margin-top:auto;
    margin-left: 10px;
}

/* Footer Code */
footer{
    background-color:#EEA9A9;
    padding-top: 25px;
    font-size: 20px;
    margin-top: 50px;
    padding-bottom: -10px;
    color: #ffffff;
<<<<<<< HEAD
    position: relative;
}

.nav-link {
=======
    left: 0;
    bottom: 0;
    width: 100%;
 }
 
  .nav-link {
>>>>>>> 041d96c7a755fe0e9b135aa9a9928023fe033200
    color: #ffffff;
    text-decoration:none;

}

.footer-bottom-content {
    padding-top: 31px;
    padding-bottom: 31px;
    border-top: 1px solid rgba(240, 240, 240, 0.07);
    display: flex;
    justify-content: space-between;
    padding: 0.5rem 1rem;
}

.mb-0 {
    margin-bottom: 0 !important;
}

.social-links {
    padding: 0.5rem 1rem;
    margin-left: -800px !important;
    left: 10px;
}
 


@media screen and (max-wdith: 1312px) {
  .authors {
<<<<<<< HEAD
    text-align: center;
    margin-left: 0px;
  }
}
 
 @media only screen and (max-width: 1200px) {
    section {
        width: 90%;
    }

    .habit-list {
        width: 70%;
        margin: 0 auto;
    }

    .decrement, .count, .deletion {
        margin: 10px;
    }
 }
 @media only screen and (max-width: 1000px) {
 

     .inner-habit {
        width: 100%;
    }
     .inner-habit > section:nth-of-type(1) {
        display: flex;
        flex-direction: column;
     }

     .inner-habit > section > .name {
        width: auto;
     }

     .inner-habit > section > .name > h2{
        text-align:center;
        font-size: 15px;
     }

     .inner-habit > section > .buttons {
        margin-left: 20px;
     }

}

@media only screen and (max-width: 620px) {
    .task-section {
        height: auto;
    }
    .task-section > .task {
        flex-direction: column;
        text-align: center;
    }

    .task-section > .task > input[type='submit'] {
        margin: 0 auto;
    }
}
=======
    color: white;
    text-decoration:none;
    margin-left: 0px !important;
    font-size: 15px;
 }
>>>>>>> 041d96c7a755fe0e9b135aa9a9928023fe033200
