body {
   font-family: 'Roboto', sans-serif;
   }

main {
   margin-top: 100px;
}

input[type="submit"] {
 width:100%
}

#register {
   display: none;
}

#HabitSleigher {
   font-family: Roboto;
   font-weight: Bold;
 }

 .w3-border-light-green, .w3-hover-border-light-green:hover {
   border-color: #1ef876!important;
}

#rectangle {
   background: rgba(133,208,225,1);
 }