body {
   font-family: 'Roboto', sans-serif;
   }

main {
   margin-top: 100px;
}

input[type="submit"] {
 width:100%
}

#register {
   display: none;
}

#HabitSleigher {
   font-family: Roboto;
   font-weight: Bold;
 }

 .w3-border-light-green, .w3-hover-border-light-green:hover {
   border-color: #1ef876!important;
}

#rectangle {
   background: rgba(133,208,225,1);
 }

  /* Footer Code */
footer{
   background-color:#EEA9A9;
   padding-top: 25px;
   margin-top: 25px;
   padding-bottom: -10px;
   color: #ffffff;
   position: absolute;
    bottom: 0;
    width: 100%;
}

 .nav-link {
   text-decoration:none;
}

 .footer-bottom-content {
   padding-top: 31px;
   padding-bottom: 31px;
   border-top: 1px solid rgba(240, 240, 240, 0.07);
   display: flex;
   justify-content: space-between;
   padding: 0.5rem 1rem;
 }

.mb-0 {
  margin-bottom: 0 !important;
}

.fa {
   padding: 20px;
   font-size: 30px;
   width: 66px;
   text-align: center;
   text-decoration: none;
   margin: 5px 2px;
   border-radius: 50%;
 }
 
 .fa:hover {
     opacity: 0.7;
 }
 
 .fa-facebook {
   /*background: #3B5998;*/
   background: white;
   color: #EEA9A9;
 }
 
 .fa-twitter {
   /*background: #55ACEE;*/
   background: white;
   color: #EEA9A9;
 }

 .social-links {
   padding: 0.5rem 1rem;
 }

 .authors {
  text-decoration:none;
  margin-left: 600px;
}